*.aux
*.bbl
*.blg
*.brf
*.idx
*.lof
*.log
*.lol
*.lot
*.nlo
*.out
*.synctex.gz
*.toc
*.ilg
*.nls
*.fls
*.ind
*.fdb_latexmk
*.glo
*.gls
*.glg
*.ist
*.tdo
*.idx
*.ist
*.run.xml
*-blx.bib
*.bak
*.xdy
*.acn
*.acr
*.alg
*.bcf
*.tps
.DS_Store